 *{
            flex: auto;
        }
        .Header
        {
            background-color: rgb(0, 195, 255);
            color: white;
            text-align: center;
            font-family: sans-serif;
            margin-top: 15px auto;
        }
        h2{
            font-family: sans-serif;
        }
        .footer{
            background-color: rgb(49, 195, 206);
            text-align: center;
            color: white;
        }